<a href="https://colab.research.google.com/github/kimgu11/NLP_2023/blob/main/example/1week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

문제 1: 사용자로부터 이름을 입력받고, "안녕하세요, [이름]님!"을 출력하는 파이썬 프로그램을 작성하세요.

문제 2: 사용자로부터 두 개의 숫자를 입력받고, 이 숫자를 더한 결과를 출력하세요.

문제 3: 1부터 10까지의 숫자를 반복문을 사용하여 출력하세요.

문제 4: 1부터 100까지의 숫자 중에서 짝수만 출력하세요.

문제 5: 사용자로부터 정수를 입력받고, 그 숫자가 홀수인지 짝수인지 판별하여 출력하세요.

문제 6: 다음 리스트에서 중복된 항목을 제거하세요: [1, 2, 2, 3, 4, 4, 5]

문제 7: 1부터 100까지의 숫자 중에서 3의 배수인 숫자만 출력하세요.

문제 8: 사용자로부터 문자열을 입력받고, 그 문자열을 거꾸로 출력하세요.

문제 9: 다음 리스트를 오름차순으로 정렬하세요: [5, 2, 9, 1, 5, 6]

문제 10: 다음 딕셔너리에서 값이 18인 키(key)를 찾아 출력하세요: {"Alice": 25, "Bob": 18, "Charlie": 30}

In [ ]:
#문제 1: 사용자로부터 이름을 입력받고, "안녕하세요, [이름]님!"을 출력하는 파이썬 프로그램을 작성하세요.
name = ''
name = input()

print(name,'님!')

민구
민구 님!

In [ ]:
#문제 2: 사용자로부터 두 개의 숫자를 입력받고, 이 숫자를 더한 결과를 출력하세요.
num1 = float(input('숫자를 입력하시오:'))
num2 = float(input('숫자를 입력하시오:'))

result = num1 + num2

print(result)

숫자를 입력하시오:2
숫자를 입력하시오:3
5

In [ ]:
#문제 3: 1부터 10까지의 숫자를 반복문을 사용하여 출력하세요.

for i in range(11):
  if i == 0:
    continue
  else:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#문제 4: 1부터 100까지의 숫자 중에서 짝수만 출력하세요.

for i in range(101):
  if i % 2 == 0 and i != 0:
    print(i)

  else:
    continue

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#문제 5: 사용자로부터 정수를 입력받고, 그 숫자가 홀수인지 짝수인지 판별하여 출력하세요.
try:
  num = int(input('정수를 입력하시오:'))

  if num % 2 == 0:
    print('입력하신 숫자는',num,'이며 짝수입니다.')

  else:
    print('입력하신 숫자는',num,'이며 홀수입니다.')

except:
  print('정수가 아닌 값을 입력하셨습니다.')

정수를 입력하시오:123.123
정수가 아닌 값을 입력하셨습니다.

In [ ]:
#문제 6: 다음 리스트에서 중복된 항목을 제거하세요: [1, 2, 2, 3, 4, 4, 5]
list_data = [1,2,2,3,4,4,5]

set_list = list(set(list_data))

print(set_list)

[1, 2, 3, 4, 5]

In [ ]:
#문제 7: 1부터 100까지의 숫자 중에서 3의 배수인 숫자만 출력하세요.
for i in range(1,101):
  if i % 3 == 0:
    print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
#문제 8: 사용자로부터 문자열을 입력받고, 그 문자열을 거꾸로 출력하세요.

str1 = str(input())

reverce = str1[::-1]

print(reverce)

weafeawfed
defwaefaew

In [ ]:
#문제 9: 다음 리스트를 오름차순으로 정렬하세요: [5, 2, 9, 1, 5, 6]

arr = [5,2,9,1,5,6]

list.sort(arr)

print(arr)

[1, 2, 5, 5, 6, 9]

In [ ]:
#문제 10: 다음 딕셔너리에서 값이 18인 키(key)를 찾아 출력하세요: {"Alice": 25, "Bob": 18, "Charlie": 30}

dict_data = {"Alice": 25, "Bob": 18, "Charlie": 30}
[k for k, v in dict_data.items() if v == 18]

['Bob']